---
title: Test Tools
weight: 3
---

# <%= current_page.data.title %>

### Automation

Below are the automation tools approved by the AWG for different phases/disciplines of automated testing. Before adopting any further tools we should consider the following questions:

* Are other project teams testing the same tech stack with an already approved existing test tool?
* Will the tool support the programmes ability to transfer developers, testers and BAs between project teams?
* How well supported is the tool - is it in Beta, are their support forums, how good is the documentation?
* Are there are challenges hiring staff with the tool skillset?
* Will the tool be easily picked up by the future support teams?
* Is it open source or are there any costs?
* Will the tool tie as to a particular supplier?
* Ease of use for the team (including the existing DTS team)
* What reporting to the business does the tool provide?

<div class="table-wrap">
   <table class="wrapped relative-table confluenceTable tablesorter tablesorter-default stickyTableHeaders" style="width: 100%; padding: 0px;" role="grid" resolved="">
      <colgroup>
         <col style="width: 17.5782%;">
         <col style="width: 14.9719%;">
         <col style="width: 32.661%;">
         <col style="width: 3.5489%;">
      </colgroup>
      <thead class="tableFloatingHeaderOriginal">
         <tr role="row" class="tablesorter-headerRow">
            <th colspan="1" class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Test Type: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner"><span>Test Type</span></div>
            </th>
            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="1" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Tool: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Tool</div>
            </th>
            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="2" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Purpose: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Purpose</div>
            </th>
            <th colspan="1" class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="3" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Path-to-Live: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Path-to-Live</div>
            </th>
         </tr>
      </thead>
      <thead class="tableFloatingHeader" style="display: none;">
         <tr role="row" class="tablesorter-headerRow">
            <th colspan="1" class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Test Type: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner"><span>Test Type</span></div>
            </th>
            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="1" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Tool: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Tool</div>
            </th>
            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="2" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Purpose: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Purpose</div>
            </th>
            <th colspan="1" class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="3" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Path-to-Live: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Path-to-Live</div>
            </th>
         </tr>
      </thead>
      <tbody aria-live="polite" aria-relevant="all">
         <tr role="row">
            <td colspan="1" class="confluenceTd">
               <p><span>Unit Testing for Node.js/Angular.js Apps</span></p>
               <p><span><br></span></p>
               <p><span><br></span></p>
               <p><span><br></span></p>
               <p><br></p>
            </td>
            <td class="confluenceTd">
               <p><a href="https://mochajs.org/" class="external-link" rel="nofollow">Mocha</a></p>
               <p><a href="http://chaijs.com/" class="external-link" rel="nofollow">Chai</a></p>
               <p><a href="http://sinonjs.org/" class="external-link" rel="nofollow">Sinon.js</a></p>
               <p><a href="https://github.com/visionmedia/supertest" class="external-link" rel="nofollow">Super Tes</a>t</p>
               <p>Karma</p>
               <p>Jasmine</p>
            </td>
            <td class="confluenceTd">
               <p>Unit tests will be using Super test which is a nodejs test framework</p>
               <p>Mocha will be used to write readable tests</p>
               <p>Chai is the assertion framework used in reform projects</p>
               <p>Sinon for Mocks and stubs if needed</p>
               <p>Karma runner</p>
            </td>
            <td colspan="1" class="confluenceTd">Y</td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd"><span>Unit Testing for Java/C# app (spring boot)</span></td>
            <td colspan="1" class="confluenceTd">
               <p>Junit / NUnit (Video Hearings)</p>
               <p><br></p>
            </td>
            <td colspan="1" class="confluenceTd">
               <p>Unit tests for Java app - Drop Wizard (springboot for Probate team)</p>
               <p><br></p>
            </td>
            <td colspan="1" class="confluenceTd">Y</td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd">Integration testing</td>
            <td colspan="1" class="confluenceTd">
               <p>SpringBootTest (for Spring)</p>
               <p>Mockito</p>
               <p><span style="color: rgb(3,47,98);">spring-cloud-contract-wiremock</span></p>
               <p><span style="color: rgb(3,47,98);"><a href="https://docs.hoverfly.io/projects/hoverfly-java/en/latest/" class="external-link" rel="nofollow">Hoverfly-java</a> for service virtualization</span></p>
            </td>
            <td colspan="1" class="confluenceTd"><br></td>
            <td colspan="1" class="confluenceTd"><br></td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd"><span>Accessibility Testing</span></td>
            <td class="confluenceTd">
               <p><a href="http://pa11y.org/" class="external-link" rel="nofollow">Pa11y</a></p>
               <p>aXe Coconut</p>
               <p>NVDA</p>
               <p>JAWs</p>
               <p>Voice Over (mobile devices)</p>
               <p>w3c-validate</p>
               <p><br></p>
               <p>See also the <a href="/confluence/display/RQA/Accessibility+Approach">accessibility approach</a> for assistive tools.</p>
            </td>
            <td class="confluenceTd">
               <p>Accessibility testing tool which will be run as part of the build which will help to identify Accessibility problems in the build phase itself.</p>
               <p><br></p>
               <p><br></p>
               <p><br></p>
            </td>
            <td colspan="1" class="confluenceTd">Y</td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd"><span>Performance/Stress Testing</span></td>
            <td class="confluenceTd"><a href="http://gatling.io/" class="external-link" rel="nofollow">Gatling</a></td>
            <td class="confluenceTd">
               <p>An DSL load Testing tool which simulates HTTP traffic to the target server</p>
               <p>Gatling docker image will be used to run performance tests in jenkins <strong>docker pull satyachundur/gatling-reform</strong></p>
               <p><br></p>
            </td>
            <td colspan="1" class="confluenceTd">N</td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd"><span>Rest Services Functional tests</span></td>
            <td colspan="1" class="confluenceTd">
               <p>Java</p>
               <p><a href="https://github.com/rest-assured/rest-assured" class="external-link" rel="nofollow">Rest Assured</a></p>
               <p><a href="https://github.com/serenity-bdd/serenity-core/tree/master/serenity-rest-assured" class="external-link" rel="nofollow">Serenity</a></p>
               <hr>
               <p>.NET</p>
               <p><a href="http://restsharp.org/" class="external-link" rel="nofollow">RestSharp</a></p>
            </td>
            <td colspan="1" class="confluenceTd">
               <p>DSL Functional testing for Rest services.</p>
               <p>Serenity for reporting</p>
            </td>
            <td colspan="1" class="confluenceTd">Y</td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd"><span>Functional tests</span></td>
            <td colspan="1" class="confluenceTd">
               <p>NODE</p>
               <p><a href="http://codecept.io/" class="external-link" rel="nofollow">CodeceptJS</a></p>
               <p><a href="https://www.npmjs.com/package/puppeteer" class="external-link" rel="nofollow">puppeteer</a></p>
               <p><a href="https://www.npmjs.com/package/webdriverio" class="external-link" rel="nofollow">webdriverio</a> (for sauce labs)</p>
               <hr>
               <p>ANGULAR</p>
               <p><a href="http://www.protractortest.org/#/" class="external-link" rel="nofollow">Protractor</a> + CucumberJS</p>
               <hr>
               <p>RUBY / PYTHON</p>
               <p>Capybara</p>
               <p>RSpec</p>
               <p><br></p>
            </td>
            <td colspan="1" class="confluenceTd">
               <p>(This tool is still under review)</p>
               <p>Acceptance functional Tests for Nodejs application. Test runner agnostic which runs on Webdriver io, protactor, Selenium Webdriverjs, NightmareJs, PhantomJs and others.</p>
               <p><br></p>
               <hr>
               <p><br></p>
               <p>Protractor will be used on Angular projects like CCD</p>
            </td>
            <td colspan="1" class="confluenceTd">Y</td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd"><span>Cross Browser testing</span></td>
            <td colspan="1" class="confluenceTd"><a href="https://saucelabs.com/" class="external-link" rel="nofollow">Saucelabs</a></td>
            <td colspan="1" class="confluenceTd">Cloud based service provider for executing the Functional End to End tests in different browsers and different devices.</td>
            <td colspan="1" class="confluenceTd">N</td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd"><span><a href="/confluence/display/RQA/Security+Testing+Checklist+for+Reform+-Work+In+Progress">Security Testing</a></span></td>
            <td colspan="1" class="confluenceTd">
               <p><a href="https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project" class="external-link" rel="nofollow">ZAP</a> (Zed Attack Proxy)</p>
               <p>See <a href="/confluence/display/RQA/Security+Testing+Checklist+for+Reform+-Work+In+Progress">Security Testing</a> for complete list</p>
               <p>++Add link to PET security page++</p>
               <p><a class="confluence-userlink user-mention userlink-2" data-username="Alexa.Ballantine" href="/confluence/display/~Alexa.Ballantine" data-linked-resource-id="205539746" data-linked-resource-version="1" data-linked-resource-type="userinfo" data-base-url="https://tools.hmcts.net/confluence" title="" data-user-hover-bound="true">Alexa Ballantine</a></p>
            </td>
            <td colspan="1" class="confluenceTd">This Security testing framework will be used to verify the source code vulnerabilities at the build phase</td>
            <td colspan="1" class="confluenceTd">N</td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd">Dependency management (security)</td>
            <td colspan="1" class="confluenceTd"><a href="https://wiki.jenkins-ci.org/display/JENKINS/OWASP+Dependency-Check+Plugin" class="external-link" rel="nofollow">OWASP Dependency check</a></td>
            <td colspan="1" class="confluenceTd">
               <p>Checks A9 on the OWASP Top 10:</p>
               <p>‘Using components with known vulnerabilities’</p>
            </td>
            <td colspan="1" class="confluenceTd">Y</td>
         </tr>
         <tr role="row">
            <td colspan="1" class="confluenceTd"><span>Reporting Frameworks</span></td>
            <td colspan="1" class="confluenceTd">
               <p><a href="https://www.npmjs.com/package/mocha-junit-reporter" class="external-link" rel="nofollow">Mocha Junit Reporter</a></p>
               <p><br></p>
               <p><a href="https://github.com/adamgruber/mochawesome" class="external-link" rel="nofollow">Mocha Awesome Report</a></p>
               <p>CucumberJS reporting</p>
               <p><br></p>
               <p><a href="http://gatling.io/docs/2.2.2/general/reports.html" class="external-link" rel="nofollow">Gatling Reports</a></p>
               <p><br></p>
               <p><a href="https://istanbul.js.org/" class="external-link" rel="nofollow">Istanbul</a></p>
            </td>
            <td colspan="1" class="confluenceTd">
               <p>A unit test runner report which will generate once Jenkins runs unit tests and accessibility tests</p>
               <p>A HTML report runner which will be used to generate html reports in jenkins after running End to End tests.</p>
               <p>Gatling high chart reports will be used to generate Performance test reports after executing Performance tests</p>
               <p><br></p>
               <p>Supports javascripting testing frameworks such as Mocha</p>
            </td>
            <td colspan="1" class="confluenceTd">Y</td>
         </tr>
      </tbody>
   </table>
</div>

### Standard test tools

The following test tools are either used independently of the build, test, deploy pipeline or can be run both as Jenkins jobs and externally.

* Zephyr for JIRA - test management tools
* Pa11y (run in sprint but can also be run post deploy)
* Zap (run post deploy independent of SonarQube)
* Sauce Labs for both automated and manual cross device testing
* http://www.mobilephoneemulator.com/
* Mozilla observatory for security scanning
* SoapUI - api testing tool
* BugMagnet
* HTML CodeSniffer (run on demand or paste in code here http://squizlabs.github.io/HTML_CodeSniffer/)

### Add-ons

<div class="table-wrap">
   <table class="relative-table wrapped confluenceTable tablesorter tablesorter-default stickyTableHeaders" style="width: 31.9149%; padding: 0px;" role="grid" resolved="">
      <colgroup>
         <col style="width: 19.0594%;">
         <col style="width: 80.9406%;">
      </colgroup>
      <thead class="tableFloatingHeaderOriginal">
         <tr role="row" class="tablesorter-headerRow">
            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Browser: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Browser</div>
            </th>
            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="1" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Add-ons: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Add-ons</div>
            </th>
         </tr>
      </thead>
      <thead class="tableFloatingHeader" style="display: none;">
         <tr role="row" class="tablesorter-headerRow">
            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Browser: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Browser</div>
            </th>
            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" data-column="1" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="Add-ons: No sort applied, activate to apply an ascending sort" style="user-select: none;">
               <div class="tablesorter-header-inner">Add-ons</div>
            </th>
         </tr>
      </thead>
      <tbody aria-live="polite" aria-relevant="all">
         <tr role="row">
            <td class="confluenceTd">Chrome</td>
            <td class="confluenceTd">
               <ul>
                  <li>Responsive web design tester</li>
                  <li>POSTMAN (with Interceptor)</li>
                  <li><span style="color: rgb(48,57,66);">aXe</span></li>
                  <li>ObservePoint</li>
                  <li><a href="https://chrome.google.com/webstore/detail/bug-magnet/efhedldbjahpgjcneebmbolkalbhckfi?hl=en" class="external-link" rel="nofollow">Bug magnet</a> - for Exploratory testing</li>
               </ul>
            </td>
         </tr>
         <tr role="row">
            <td class="confluenceTd">Firefox</td>
            <td class="confluenceTd">
               <ul>
                  <li>Fiddler<br><br></li>
               </ul>
            </td>
         </tr>
      </tbody>
   </table>
</div>
